<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Prediction tuition fee of chinese scholarship</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body style="background:white;">

<header class="page-header" style="text-align:center;color:black;font-size:1.5em;">
    <a class="navbar-brand" href="../"><h3>Fees2Pay</h3></a>
</header>

 <div class="container">
	 <div class="jumbotron">
		 <h4>Predict fees to pay after Chinese Scholarship grants.</h4>

		 <br>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post"
    	<input type="text" name="university" placeholder="university" required="required" />
    
	<section>
		<h5>Select University, District and Level</h5>
        	
        <label for="university">Choose university:</label>
        <select size="1" name="university" id="university">
		    <option value="Shanghai University of Traditional Chinese Medicine">Shanghai University of Traditional Chinese Medicine</option>
			<option value="China University of Petroleum - Beijing">China University of Petroleum - Beijing</option>
			<option value="Changchun University of Technology">Changchun University of Technology</option>
			<option value="South China University of Technology">South China University of Technology</option>

        </select>


        <label for="district">  District:</label>
        <select size="1" name="district" id="district">
		    <option value="Xuhui">Xuhui</option> <option value="Licheng">Licheng</option>
			<option value="Changping">Changping</option> <option value="Dongguan">Dongguan</option>
			<option value="Chaoyang">Chaoyang</option> <option value="Xihu">Xihu</option>
			<option value="Tianhe">Tianhe</option> <option value="Haidian">Haidian</option>
			<option value="Jiangbei ">Jiangbei </option> <option value="Xuhui">Xuhui</option>
			<option value="Yuzhong">Yuzhong</option> <option value="Fuchen">Fuchen</option>
			<option value="Lin'an">Lin'an</option> <option value="Wucheng">Wucheng</option>
			<option value="Longfeng">Longfeng</option> <option value="Hexi">Hexi</option>		
			<option value="Chaoyang">Chaoyang</option> <option value="Yangpu">Yangpu</option>
			<option value="Nanchang">Nanchang</option> <option value="Xuzhou">Xuzhou</option>
			<option value="Tiexi">Tiexi</option> <option value="Nanjing">Nanjing</option>
			<option value="Zhongyuan">Zhongyuan</option> <option value="Xinbei">Xinbei</option>
			<option value="Nankai">Nankai</option> <option value="Qingdao">Qingdao</option>
            <option value="Zhenjiang">Zhenjiang</option> <option value="Chang'an">Chang'an</option>
			<option value=" Fengxian"> Fengxian</option> <option value="Baoji">Baoji</option>
            <option value="Wuhan">Wuhan</option> <option value="Jinping">Jinping</option>
			<option value="Xicheng Qu">Xicheng Qu</option> <option value="Huanggu">Huanggu</option>
            <option value="Shahekou">Shahekou</option>



        </select>

		<br>
		
        <label for="level">Education level:</label>
        <select size="1" name="level" id="level">
		    <option value="Non-Degree">Non-Degree</option>
			<option value="Bachelor">Bachelor</option>
			<option value="Master">Master</option>
			<option value="Phd">Phd</option>

        </select>
				
		<label for="language">Instruction language:</label>
		<select size="1" name="language" id="language">
		    <option value="English">English</option>
			<option value="Chinese">Chinese</option>
			<option value="Japanese">Japanese</option>
			<option value="German">German</option>
        </select>

    </section>
	
	<br>
	
    <section>
	    
		<h5>Select program start month and year </h5>
		<label for="start_month">Month :</label>
		<select size="1" name="start_month" id="start_month">
		    <option value="Sep">September</option>
			<option value="Feb">February</option>
			<option value="Mar">March</option>
			<option value="Aug">August</option>
			<option value="Jun">June</option>

        </select>
		
		<label for="start_year">Year :</label>
		<select size="1" name="start_year" id="start_year">
		    <option value=2019>2019</option>
			<option value=2020>2020</option>
        </select>

	</section>

    <br>

	<section>
	    
		<h5>Confirm whether accomodation and living expenses are covered </h5>
		<label for="living_expense_covered"> Living expense covered ?</label>
		<select size="1" name="living_expense_covered" id="living_expense_covered">
		    <option value=1>Yes</option>
			<option value=0>No</option>
        </select>
		
		<label for="accomodation_covered">  Accomodation covered ?</label>
		<select size="1" name="accomodation_covered" id="accomodation_covered">
		    <option value=1>Yes</option>
			<option value=0>No</option>
        </select>

	</section>


    <br>
        <button type="submit" class="btn btn-primary" style="white-space:normal;">Submit to Predict tuition fees</button>

    </form>


   <br>


   <br>
   
		 <h5> Predicted tuition fees to pay:  <span style="font-weight:bold;font-size:1.5em;">{{ prediction }} ¥</span></h5>
	</div>
 </div>


</body>
</html>
