header a{
    color: black;
}
#aaa {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.form {
    width: auto;
	}

.login{
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: auto;
    padding: 4px;
    display: flex;
    justify-content: center;
    height: auto;
}
h5{
    text-align: center;
}
.aa {
    justify-content: center;
    text-align: center;
    font-size: larger;
    }
			
pre{
    justify-content: center;
    display: flex;
    }